#header
  .navbar
    .navbar-inner
      %button.btn.btn-navbar.collapsed(type="button" data-toggle="collapse" data-target=".nav-collapse")
      = link_to "UNDERBOUTIQUE", {:controller => "home", :action => "index"}, :class => "brand" 
      .nav-collapse.collapse
        %ul.nav
          %li#sale
            = link_to('sale', {:controller => "sale", :action => "index"})
          %li#news
            = link_to('novedades', {:controller => "news", :action => "index"})
          %li#designers
            = link_to('diseñadores',{:controller => "designers", :action => "index"} )
          %li#ropa
            = link_to('ropa', {:controller => "product", :action => "index"})
          %li#shoes
            = link_to('zapatos', {:controller => "product", :action => "index"})
          %li#accesories
            = link_to('accesorios', {:controller => "product", :action => "index"})
          %li#gifts
            = link_to('gifts', {:controller => "product", :action => "index"})
          %li#journal
            = link_to('the journal', {:controller => "product", :action => "index"})