#header
  .container  
    .row-fluid  
      .navbar
        .navbar-inner
          = link_to "UNDERBOUTIQUE", {:controller => "home", :action => "index"}, :class => "brand" 
          %button.btn.btn-navbar.collapsed(type="button" data-toggle="collapse" data-target=".nav-collapse")+
          .nav-collapse.collapse
            %ul.nav
              %li.checkcolor#news
                = link_to('novedades', {:controller => "news", :action => "index"})
              %li.checkcolor#designers
                = link_to('dise침adores',{:controller => "designers", :action => "index"} )
              %li.checkcolor#ropa
                = link_to('ropa', {:controller => "product", :action => "index"})
              %li.checkcolor#shoes
                = link_to('zapatos', {:controller => "product", :action => "index"})
              %li.checkcolor#accesories
                = link_to('accesorios', {:controller => "product", :action => "index"})
              %li.checkcolor#sale
                = link_to('sale', {:controller => "sale", :action => "index"})
          %ul.nav.pull-right
            - if current_admin_user
              %li.checkcolor
                = link_to('Log Out', destroy_admin_user_session_path, method: 'delete')
            - else
              %li.checkcolor
                = link_to('Log In', 'admin_users/sign_in')
            %li.checkcolor
              %a Buscar
            %li
              = link_to 'cart', cart_items_path
          .search-box#searchbox
            %form
              %input(type='text')
              %input(class='searchbutton' type='submit' value='buscar')
          .span4.login-box#loginbox
            = form_for(AdminUser.new, as: :admin_user, url: session_path(:admin_user)) do |f|
              = f.label :email
              = f.email_field :email
              = f.label :password
              = f.password_field :password
              = f.hidden_field :remember_me, value: 1
              .btns
                = f.submit 'iniciar sesi칩n', class: 'btn'
                = link_to 'olvid칩 su contrase침a', new_password_path(:admin_user), class: 'btn'