#header
  .row-fluid
    .container
      .userbar
        %ul.pull-right
          %li
            = link_to('SignUp', 'admin_users/sign_up')
          %li
            %p ·
          - if current_admin_user
            %li
              = link_to('LogOut', destroy_admin_user_session_path, method: 'delete')
          - else
            %li
              = link_to('LogIn', 'admin_users/sign_in')
  .row-fluid
    .container  
      .navbar
        .navbar-inner
          = link_to "UNDERBOUTIQUE", {:controller => "home", :action => "index"}, :class => "brand" 
          %button.btn.btn-navbar.collapsed(type="button" data-toggle="collapse" data-target=".nav-collapse")+
          .nav-collapse.collapse.pull-right
            .row-fluid
              %ul.nav
                %li.news
                  = link_to('novedades', {:controller => "news", :action => "index"})
                %li.designers
                  = link_to('diseñadores',{:controller => "designers", :action => "index"} )
                %li#ropa
                  = link_to('ropa', {:controller => "product", :action => "index"})
                %li#shoes
                  = link_to('zapatos', {:controller => "product", :action => "index"})
                %li#accesories
                  = link_to('accesorios', {:controller => "product", :action => "index"})
                %li#sale
                  = link_to('sale', {:controller => "sale", :action => "index"})
                %li
                  = link_to 'cart', cart_items_path
            