.row-fluid
  .page#home
    .container.inner
      .row-fluid
        %h1 UNDERBOUTIQUE
        %h2 Portal de diseñadores
      .row-fluid
        %a.btn.btn-white{:href => "#"}
          QUIERO REGISTRARME
.row-fluid
  .boxtitle
    %h5 Featured Designers
.row-fluid
  .page#featured
    .slider--fullscreen
      .slider
        .slider-strip
          -@designers.last(3).each do |designer|
            - if image = designer.images.first
              .slider-item{:style => "background-image: url(#{image.file.url(:large)})"}
                .container
                  .slider-info
                    %h6 featured designer
                    %h1 #{designer.name}
                    //%p.lead Some Information Her
                    = link_to(designer_path(designer.id)) do
                      .btn.btn-white Ver Perfil
        .slider-arrow.slider-arrow--left &#8249
        .slider-arrow.slider-arrow--right &#8250
        .slider-dots
.row-fluid
  .boxtitle
    %h5 Diseñadores destacados
.row-fluid
  .page#designerslist
    -@designers.last(3).each do |designer|
      .row
        .span6.photo
          - if image = designer.images.first
            = link_to(designer_path(designer.id)) do
              .item{:style => "background-image: url(#{image.file.url(:large)})"} 
        .span6.info
          .item
            %h1 #{designer.name}
            .hr
            - unless designer.bio.nil? 
              %p #{designer.bio.truncate(240)}
            .btn.btn-blackline Ver Perfil
.row-fluid
  .boxtitle
    %h5 Productos destacados
.row-fluid.collections
  -@products.last(20).each do |product|
    .span3{:class => "#{product.category}"}
      .item
        = render 'shared/product_link', product: product
:javascript
  $(function(){
    $('#home').parallax("50%", 0.1);
  });
