.container.content
  .row-fluid.box
    .span9
      #myCarousel.carousel
        .carousel-inner
          -@designers.last(3).each do |designer|
            .slide
              .item
                .ph
                  - if image = designer.images.first
                    = link_to(designer_path(designer.id)) do
                      = image_tag image.file.url(:large)
                      .over
                      .info
                        %h1 Summer collection
                        .btn-group
                          %button.btn  
                            %p Ver Colecci칩n
    .span3
      -@designers.last(3).each do |designers| 
        .item-content
          %h5 #{designers.name} 
          %p #{designers.bio.truncate(180)}
  .row-fluid
    .span12
      .control-nav.control-carousel
        %a.control.active
        %a.control
        %a.control
  .row-fluid.margin20.nuevas
    .span12
      .boxtitle
        %h5 Nuevas Campa침as
    .span12.novedadesbox
      -@products.last(4).each do |product|
        .span3
          .item
            = render 'shared/product_link', product: product

  .row-fluid.margin20
    .span12
      .boxtitle
        %h5 Novedades
    .span12.novedadesbox
      .novedades
        -@products.last(15).each do |product|
          .span2
            .slide
              .item
                = render 'shared/product_link', product: product

        .row-fluid
          .span12
            .control-nav.control-novedades
  .row-fluid.topdesigners
    .span3
      %ul.title
        %li
          %h4 top 5 dise침adores
      %ul.top-designers
        -@designers.last(5).each do |designer|
          %li
            = link_to(designer.name, designer_path(designer), value: designer.id)
    .span6
      #myCarouselTopDesigner
        .carousel-inner
          -@designers.last(5).each do |designer|
            -if image = designer.images.first
              .slide
                .item
                  = image_tag(image.file.url(:large))
    .span3.top-designers
      .boxtitle
        %h5 colecci칩n
      .boxProduct
        -@designers.last(5).each_with_index do |designer, index|
          .row-fluid
            - designer.products.last(5).each do |product|
              .span12
                .item
                  .ph
                    -if image = product.images.first
                      = link_to(image_tag(image.file.url(:large)), product_path(product.id))
                .control-nav