.row-fluid.fondo
  .span9.full
    %ul#mainslider.bxslider
      -@designers.last(3).each do |designer|
        %li.item
          .ph
            - if image = designer.images.first
              = link_to(designer_path(designer.id)) do
                = image_tag image.file.url(:large)
                .over
                .info
                  %h1 #{designer.name} 
                  .btn-group.swift
                    %button.btn  
                      %p Ver Colección
  .span3.full#bx-pager
    -@designers.last(3).each_with_index do |designer, index| 
      %a.item-content{ :href => "#",:data => {'slide-index' => index} }
        %h5 #{designer.name}
        - unless designer.bio.nil? 
          %p #{designer.bio.truncate(180)}

.row-fluid
  .boxtitle.first
    %h5 Nuevas Campañas
  .row-fluid
    .slider_campaigns
      -(@products.last(4)*4).each do |product|
        .span3
          .item
            = render 'shared/product_link', product: product

.row-fluid
  .boxtitle.first
    %h5 Novedades
  .row-fluid
    .slider_products
      -(@products.last(15)*4).each do |product|
        .span3{:class => "#{product.category}"}
          .item
            = render 'shared/product_link', product: product
            %h5 #{product.category}

.row-fluid.topdesigners
  .span3
    %ul#topdesigners.nav.nav-tabs
      -@designers.last(5).each_with_index do |designer,index|
        %li
          %a{ :href => "#top#{index}",:data => {'toogle' => "tab"} } #{designer.name}
  .span6
    .tab-content
      -@designers.last(5).each_with_index do |designer, index|
        .tab-pane{:id => "top#{index}"}
          -if image = designer.images.first
            .slide
              .item
                = image_tag(image.file.url(:large))
  .span3
    -@designers.last(5).each_with_index do |designer, index|
      - designer.products.last(5).each do |product|
        .item
          .ph
            -if image = product.images.first
              = link_to(image_tag(image.file.url(:large)), product_path(product.id))