.cart
  %h1 Tu carrito
  - @designers.each do |designer, products|
    %h2
      Items de #{designer.name}: Total $ #{shopping_cart.amount_for_designer(designer)}
    %ul
    .cart-items
      .row-fluid.items
        .span12
          - products.each do |item, quantity, size|
            .row-fluid
              .span12
                .cart-item
                  .span2
                    = image_tag(item.images.first.file.url(:small), class: 'ph')
                  .span5
                    %h4 #{item.name}
                    %p #{item.description}
                  .span1
                    %label talle 
                    %br
                    %p(style="margin-top:15px;")= size
                  .span1
                    %label cantidad 
                    %input(type="number" class="quantity" name="quantity" style="width:50px; margin-top:10px;" value="#{quantity}" min="1" max="1000")
                  .span1
                    %label precio
                    %p.precio(style="margin-top:15px;") $#{item.price*quantity}
                    = hidden_field_tag 'item_price', item.price 
                  .span1
                    = link_to('Quitar', cart_item_path("#{item.id}_#{size}"), method: 'delete', :class => "delete")
  
  %br
  .row-fluid
    .span12
      = link_to 'Seguir comprando', root_path, :class => "nav seguir"
      = link_to 'Checkout', new_order_path, :class => "nav"
