!!!
%html
  %head
    %title UnderBoutique
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body(class="#{controller_name} #{action_name} no-space")
    
    = render 'shared/nav'

    - if flash[:alert]
      %div= flash[:alert]
    - if flash[:notice]
      %div= flash[:notice]

    = yield
  #footer
    %h5 Todos los derechos Reservados Under Boutique 2012.
