!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title UnderBoutique
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body(class="#{controller_name} #{action_name} no-space")
    = render 'shared/navigation'

    - if flash[:alert]
      %div= flash[:alert]
    - if flash[:notice]
      %div= flash[:notice]

    = yield
  #footer
    .container
      .row-fluid
        .span3
          %h2 navigate
          .row-fluid
            %a Home
          .row-fluid
            %a Ropa
          .row-fluid
            %a Zapatos
          .row-fluid
            %a Accesorios
        .span3
          %h2 connect with us
          .row-fluid
            %p UNDERBOUTIQUE
          .row-fluid
            %p 4 East 80th Street, new york,ny
          .row-fluid
            %p +88 897 454 321
          .row-fluid
            %a info@underboutique.com
        .span3
          %h2 INFORMATION
          .row-fluid
            %a About US
          .row-fluid
            %a ¿Cómo funciona?
          .row-fluid
            %a Políticas de devolución
          .row-fluid 
            %a FAQ
        .span3
          %h2 SOCIAL
          .row-fluid
            %a Facebook
          .row-fluid
            %a Twitter
          .row-fluid
            %a Instagram
          .row-fluid 
            %a Pinterest
