!!!
%html
  %head
    %title UnderBoutique
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body(class="#{controller_name} #{action_name} no-space")
    #header.container
      .navbar
        .logo
          = link_to '', root_path 
        %ul.nav
          %li#sale
            = link_to 'sale', sale_index_path
          %li#news
            = link_to 'novedades', news_index_path
          %li#designers
            = link_to 'diseñadores', designers_path
          %li#ropa
            %a(href='') ropa
          %li#shoes
            %a(href='') zapatos
          %li#accesories
            %a(href='') accesorios
          %li#gifts
            %a(href='') gifts
          %li#journal
            %a(href='') the journal
      .btn-group
        - if current_admin_user
          .btn
            = link_to('logout', destroy_admin_user_session_path, method: 'delete')
        - else
          .btn.login  
            %a Iniciar sesión
        .btn
          = link_to('Registrarse', new_admin_user_registration_path)
        .btn.search 
          %a Buscar
        .btn 
          = link_to 'cart', cart_items_path
      .search-box
        %form
          %input(type='text')
          %input(class='btn' type='submit' value='buscar')
      .login-box.span3
        = form_for(AdminUser.new, as: :admin_user, url: session_path(:admin_user)) do |f|
          = f.label :email
          = f.email_field :email
          = f.label :password
          = f.password_field :password
          = f.hidden_field :remember_me, value: 1
          .btns
            = f.submit 'iniciar sesión', class: 'btn'
            = link_to 'olvidó su contraseña', new_password_path(:admin_user), class: 'btn'

    - if flash[:alert]
      %div= flash[:alert]
    - if flash[:notice]
      %div= flash[:notice]

    = yield
  #footer
    %h5 Todos los derechos Reservados Under Boutique 2012.
